{% extends "bootstrap/base.html" %}

{% block title %}基于SCA权重模型的疾病预测系统{% endblock %}

{% block content %}
<body background={{url_for('static', filename='bgone.jpg')}}  >
    <div class="container" style="width:400px; margin-top:100px;">


        <h1><font  style="color:#FFFFFF"><b><nobr>基于SCA权重模型的疾病预测系统</nobr> <b> </font></h1>

        <h2 style="color:red">
            {% if message %} {{message}} {% endif %}
        </h2>



        <br>
        <br>
        <br>
        <br>

        <form class="form-horizontal" method="post">
          <div class="form-group">
            <label for="text13" class="col-md-2 control-label">账 号</label>
            <div class="col-md-10">
              <input type="text" name="username" class="form-control" id="text13" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">密 码</label>
            <div class="col-md-10">
              <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-default col-md-5">Sign up</button> 
              <!--<input type="submit" value="Submit">-->
              <!--<input type="reset" value="reset">-->
            </div>
          </div>
        </form>
    </div>
</body>
{% endblock %}
